* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}

.image-container {
  width: 100%;
  /* display: flex; */
}

.image {
  /* width: 50%; */
  /* height: 100%; */
  border: 2px solid black;
}