* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header{
  
  height: 10%;
  width: 100%;
  background-color: transparent;
  font-family: 'Sansita Swashed', cursive;

}
header h1{
  margin-left: 16px;
}
main{
  height: 80%;
  width: 100%;
  text-align: center;
}

.image-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image {
  /* width: 50%; */
  /* height: 100%; */
  border: 2px solid black;
  margin: 2px;
}
.relative{
  position: relative;
  top:20%;
}

footer{
  
  background-color:lightgray;
  height:10%;
  width:100%;
  color: white;

}
a{
  text-decoration: none;
  margin-left: 16px;
}